.lista-links {
    list-style: none;
    padding: 0;
}

.lista-links li {
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #ffebca;
}

.lista-links li a{
    text-decoration: underline;
    color: black;
    font-size: 1.2em;
}

@media screen and (max-width: 767px) {
  .titulo-bloco-conteudo {
    font-size: 1.2em;
  }
  .bloco-titulo-main h1 {
    font-size: 1.2em;
  }
}