
.bloco-titulo-main{
	display:block;
	width: 100%;
	height:200px;
	text-align: center;
	margin: 0px auto;
	border-radius: 0px;
}

.bloco-titulo-main-2 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50px;
  display:block;
	width: 100%;
	height:100px;
	text-align: center;
	margin: 0px auto;
	border-radius: 0px;
}

.bloco-titulo-main-2 h1 {
  font-weight: 800;
  color: white;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.bloco-itens-main {
    align-self: center;
    display: grid;
    background-color:  rgba(60, 235, 16,0.0);
    font-size: 13px;
    grid-template-areas:
        "header" 
        "list"
        "footer";
    grid-template-columns: 100%;
    width: 95%;
    padding: 0;
    margin: 0 auto;
	  border-radius: 20px;
}
.bloco-itens-header {
  background-color:  transparent;
  display: grid;
  grid-area: header;
  grid-template-columns: 20% 20% 20% 20% 5%;
  grid-gap: 1%;
  width: calc(100% - 0px);
  justify-content: space-evenly;
}

.bloco-itens-list {
  background-color: transparent;
  display: grid;
  grid-area: list;
  width: 100%;
}

.itens-inputs {
  background-color: transparent;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 5%;
  grid-gap: 1%;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}
.itens-atributes {
	background-color: transparent;
	border: 2px solid gray;
	border-radius: 0px;
	padding: 10px;
}

.action-delete {
  display: none;
  background-color: black;
  width: auto;
  height: auto;
	border-radius: 0%;
	padding: 10px;
  cursor: pointer;
}

.bloco-itens-actions {
  background-color: transparent;
  display: grid;
  grid-area: footer;
  grid-gap: 1%;
  width: calc(100% - 0px);
  justify-content: space-evenly;
}

.itens-header-coluna {
  height: auto;
  background-color: #000000;
  border-radius: 0px;
  margin: 5px;
  padding: 1px;
}
.itens-header-coluna p {
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin: 10px;
  text-transform: uppercase;
}

.action-add {
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  vertical-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.action-text{
  text-align: center;
  color: white;
  margin: 0;
  font-family: arial;
  font-size: 20px;
  font-weight: 700;
}

.action-calcular {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 10px;
    margin: 10px;
}

