
.bloco-img-principal {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    padding: 0;
    border-bottom: 1px solid #fdce58;
}

.bloco-img-principal img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-height: 500px;
}

.bloco-conteudo-principal {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px;
    margin: 20px 10px;
    background-color: #ffffff00;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #1b2d51;
    box-shadow: 2px 2px 1px #1b2d51;
}

.bloco-img-mascara {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 45, 81, 0.4);
}

.bloco-img-texto {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
}

.titulo-bloco-conteudo {
    display: block;
    font-size: 2.1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
    padding: 5px;
    border-bottom: 2px solid #1b2d51;
}

.texto-A {
    font-size: 3em;
    color: white;
    margin: 2px 0;
}
.texto-B {
    font-size: 2em;
    color: white;
    margin: 2px 0;
}
.texto-C {
    font-size: 1.5em;
    color: white;
    margin: 0 5px 10px 5px;
}

.texto-D {
    font-size: 1.5em;
    color: black;
    margin-top: 3px;
    line-height: 1.4;
    font-weight: 500;
    text-indent: 0px;
    text-align: justify;
}

#button-conferir-2 {
    width: 100%;
    margin: 5px auto 5px;
    display: block;
    text-decoration: none;
    background-color: #1b2d51;
    font-size: 2em;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    color: white;
    border-top: 2px solid #fdce58;
    border-bottom: 2px solid #fdce58;
}

#button-conferir-2:hover {
    background-color: #0e0b1b;
}

@media screen and (max-width: 767px) {
    .bloco-img-principal {
        height: auto;
    }
    .titulo-bloco-conteudo {
        font-size: 1.2em;
    }
    .texto-A {
        font-size: 1.8em;
    }
    .texto-B {
        font-size: 1.5em;
    }
    .texto-C {
        font-size: 1em;
    }
    .texto-D {
        font-size: 1em;
    }

    #button-conferir-2 {
        font-size: 1.4em;
        padding: 5px;
    }

}