  .lista-links {
      list-style: none;
      padding: 10px;
  }
  
  .lista-links li {
    font-size: 1.2em;
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: left;
      padding: 10px;
      background-color: rgb(255, 255, 255);
  }
  
  .lista-links li a{
      text-decoration: underline;
      color: black;
  }
  
  @media screen and (max-width: 767px) {
    .titulo-bloco-conteudo {
      font-size: 1.5em;
    }
    .bloco-titulo-main h1 {
      font-size: 1.2em;
    }
    .lista-links li {
        font-size: 0.8em;
    }
  }