.bloco-img-principal {
    position: relative;
    display:block;
    margin-top: 90px;
    width: 100%;
    height: auto;
    background-color: #1b2d51;
}
.bloco-titulo-main{ 
    position: relative;
    display:block;
    width: 100%;
	height: auto;
    padding: 10px;
}

.bloco-titulo-main h1 {
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0;
    width: 100%;
    text-align: center;
}

.titulo-bloco-conteudo {
    display: block;
    font-size: 2.1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 400;
    padding: 5px;
    border-bottom: 2px solid #1b2d51;
}

.bloco-conteudo-principal {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px;
    margin: 20px 10px;
    background-color: #ffffff00;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #1b2d51;
    box-shadow: 2px 2px 1px #1b2d51;
}

.texto-D {
    font-size: 1.5em;
    color: black;
    margin: 0;
    line-height: 1.4;
    font-weight: 500;
    text-indent: 20px;
    text-align: center;
}
.bloco-charts {
    margin-top: 10px;
    padding: 3px;
    box-shadow: 4px 4px 10px black;
}
.legenda-referencia {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .texto-D {
        font-size: 1em;
    }
    .bloco-titulo-main h1 {
        font-size: 1.2em;
    }

    .titulo-bloco-conteudo {
        font-size: 1.2em;
    }
}