*, :before, :after {
    font-family: Arial, monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/logo-lampada.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
}

.bloco-content-principal {
    min-height: 800px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 200px;
}

.footer-principal {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #1b2d51;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}

.footer-principal div {
    display: block;
    padding: 0 10px;
    margin: 0 auto;
}

.footer-principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-principal p {
    font-size: 1em;
    color: white;
}

#texto_page_nonexistent {
    display: block;
    margin: 200px auto 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    background-color: #fdce58;
}

@media screen and (max-width: 767px) {
    .footer-principal p {
        font-size: 0.8em;
    }
}