*,
 :before,
 :after {
    font-family: Arial, monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/logo-lampada.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.bloco-content-principal {
    min-height: 800px;
    position: relative;
    padding-top: 80px;
    margin-bottom: 200px;
}

.bloco-conteudo-principal {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px;
    margin: 20px 10px;
    background-color: #ffffff00;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #1b2d51;
    -webkit-box-shadow: 2px 2px 1px #1b2d51;
    -moz-box-shadow: 2px 2px 1px #1b2d51;
    -ms-box-shadow: 2px 2px 1px #1b2d51;
    box-shadow: 2px 2px 1px #1b2d51;
}

.titulo-bloco-conteudo {
    display: block;
    font-size: 2.1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color: #ffebca;
    border-bottom: 2px solid #1b2d51;
}

.bloco-titulo-principal {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #1b2d51;
}

.bloco-titulo-main {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
}

.bloco-titulo-main h1 {
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0;
    width: 100%;
    text-align: center;
}

.texto-D {
    font-size: 1.5em;
    color: black;
    margin: 5px 0 0 0;
    line-height: 1.4;
    font-weight: 500;
    text-align: justify;
}

.button-conferir-2 {
    width: 100%;
    margin: 5px auto 5px;
    display: block;
    text-decoration: none;
    background-color: #377e25;
    font-size: 2em;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid #1b2d51;
}

.button-conferir-2:hover {
    background-color: #235018;
}

.footer-principal {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #1b2d51;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}

.footer-principal div {
    display: block;
    padding: 0 10px;
    margin: 0 auto;
}

.footer-principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-principal p {
    font-size: 1em;
    color: white;
}

#texto_page_nonexistent {
    display: block;
    margin: 200px auto 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    background-color: #fdce58;
}

.svg-images {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}

.svg-images-r {
    float: right;
}

.svg-images-l {
    float: left;
}

@media screen and (max-width: 767px) {
    .titulo-bloco-conteudo {
        font-size: 1.2em;
    }
    .bloco-titulo-main h1 {
        font-size: 1.2em;
    }
    .footer-principal p {
        font-size: 0.8em;
    }
    #button-conferir-2 {
        font-size: 1.4em;
        padding: 5px;
    }
    .texto-D {
        font-size: 1em;
    }
}