{% extends "./base.html" %}
{% load static %}

{% block linksadicionais %}
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'principal/css/calculadora.css' %}"/>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock linksadicionais %}
  
{% block conteudo %}
  <div class="bloco-img-principal">
    <div class="bloco-titulo-main">
      <div class="bloco-titulo-main-2">
        <h1 >CALCULADORA ENERGÉTICA</h1>
      </div>
    </div>
  </div>

  <div class="bloco-itens-main">
    <section class="bloco-itens-list">
      <div class="itens-inputs">
          <div id="input-aparelho" class="item-input">
            <p>Tipo de Aparelho</p>
            <select class="itens-atributes" name="aparelho">
              <option value=""></option>
              <option value="Geladeira">Geladeira</option>
              <option value="Máquina de lavar louça">Máquina de lavar louça</option>
              <option value="Cooktop de indução">Cooktop de indução</option>
              <option value="Forno elétrico">Forno elétrico</option>
              <option value="Micro-ondas">Micro-ondas</option>
              <option value="Coifas">Coifas</option>
              <option value="Televisão">Televisão</option>
              <option value="Frigobar">Frigobar</option>
              <option value="Máquina semi-automática">Máquina semi-automática</option>
              <option value="Máquina automática">Máquina automática</option>
              <option value="Máquina lava &amp; seca">Máquina lava &amp; seca</option>
              <option value="Chuveiro elétrico">Chuveiro elétrico</option>
              <option value="Ar-condicionado split">Ar-condicionado split</option>
              <option value="Ar-condicionado janela">Ar-condicionado janela</option>
              <option value="Ar-condicionado cassete">Ar-condicionado cassete</option>
              <option value="Outro">Outro</option>
            </select>
          </div>
          <div id="input-potencia" class="item-input">
            <p>Potência (W)</p>
            <input  class="itens-atributes" name="potencia" type="number" min="0" placeholder="" class="input"  value="">
          </div>
          <div id="input-quantidade" class="item-input">
            <p>Quantidade</p>
            <input class="itens-atributes" name="quantidade" type="number" min="0" placeholder="" class="input" value="">
          </div>
          <div id="input-tempo" class="item-input">
            <p>Tempo de Uso (horas/dia)</p>
            <input class="itens-atributes" name="tempo" type="number" min="1" placeholder="" class="input" max="24" value="">
          </div>
          <div class="action-delete"><p class="action-text">Excluir</p></div>
      </div>
    </section>
    <section class="bloco-itens-actions">
      <div class="action-add"><p class="action-text">Adicionar Item</p></div>
      <div class="action-calcular"><p class="action-text">Calcular</p></div>
    </section>

  </div>
<div id="piechart"></div>
<div id="tablechart"></div>
{% endblock conteudo %}
  

{% block scriptpagina %}
  <script type="application/javascript" src="{% static 'principal/js/calculadora.js' %}"></script>
{% endblock scriptpagina %}




