{% extends "./base.html" %}
{% load static %}

{% block titulopagina %}
    <div class="container-xxl py-5 cor-principal hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="text-white mb-4 animated zoomIn">Calculadora de Energia Elétrica</h1>
                    <p class="text-white pb-3 animated zoomIn">Entenda melhor o seu consumo de energia e crie novos hábitos</p>
                    <a href="{% url 'principal:calculadora' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Simular Consumo</a>
                    <!--a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">%Vazio%</a-->
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid img-titulo-pagina" src="{% static 'principal/img/equipe-se-ajudando-lampada.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock titulopagina %}

{% block corpo %}

        <!-- Full Screen Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background: rgba(29, 29, 39, 0.7);">
                    <div class="modal-header border-0">
                        <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center justify-content-center">
                        <div class="input-group" style="max-width: 600px;">
                            <input type="text" class="form-control bg-transparent border-light p-3" placeholder="Type search keyword">
                            <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Screen Search End -->

        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="section-title position-relative mb-4 pb-2">
                            <h6 class="position-relative text-primary ps-4">Sobre</h6>
                            <h2 class="mt-2">Projeto Simulador de Consumo</h2>
                        </div>
                        <div class="row g-5">
                            <div class="col-lg-6">
                                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static 'principal/img/equipe-grafico-lousa.svg' %}">
                            </div>
                            <div class="col-lg-6">
                                <p class="mb-4">Não é recente o apelo de empresas responsáveis pelo abastecimento elétrico que a população aprenda a gerenciar seu consumo de energia elétrica especialmente em épocas de estiagem.</p>
                                <p class="mb-4">Com a ausência de chuvas e consequente queda dos níveis dos reservatórios de água de todo o país, aliados ao calor intenso, o risco de "apagões" se torna inevitável.</p>
                                <p class="mb-4">O sistema elétrico corre o risco de sofrer interrupções generalizadas se as pessoas não mudarem alguns hábitos.</p>
                                <p class="mb-4">Devemos então limitar o uso desnecessário ou até mesmo evitar o uso de alguns aparelhos.</p>
                                <p class="mb-4">Neste site, você poderá verificar o quanto os seus eletrodomésticos estão consumindo de energia e se programar para praticar a utilização consciente da energia elétrica em sua residência.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="section-title position-relative mb-4 pb-2">
                            <h6 class="position-relative text-primary ps-4">Sobre</h6>
                            <h2 class="mt-2">A conta de energia</h2>
                        </div>
                        <div class="row g-5">
                            <div class="col-lg-6">
                                <p class="mb-4">Mudanças recentes fizeram o consumidor residencial se adaptar à nova realidade: aumento da conta de energia elétrica. Com o agravamento nas condições de geração de energia, a população passou a arcar com a tarifação de maior valor.</p>
                                <p class="mb-4">Assim sendo, este projeto é apresentado também com o objetivo de contribuir para a redução do valor monetário da conta mensal de energia elétrica.</p>
                            </div>
                            <div class="col-lg-4">
                                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static 'principal/img/pessoa-calculando-conta.svg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Início Bloco do botão para simular -->
        <div class="container-xxl cor-principal newsletter my-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container px-lg-5">
                <div class="row align-items-center" style="height: 250px;">
                    <div class="col-12 col-md-6">
                        <h3 class="text-white">Simule seu consume de energia</h3>
                        <small class="text-white">{% lorem %}</small>
                    </div>
                    <div class="col-md-6 text-center mb-n5 d-none d-md-block">
                        <a href="{% url 'principal:calculadora' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Simular Consumo</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Bloco do botão para simular -->
       
{% endblock corpo %}

