{% load static %}
<header>
  <div class="header-container">
    <div class="float-l menu-logo">
        <a href="{% url 'principal:index' %}"><img src="{% static 'principal/img/logo.png' %}" alt="logo consumo consciente"></a>
    </div>
    
    <input type="checkbox" id="control-nav" />
    <label for="control-nav" class="control-nav"></label>
    <label for="control-nav" class="control-nav-close"></label>

    <nav class="float-l menu-itens">
      <label for="control-nav" class="control-nav-close-x">X</label>
      <ul class="list-auto">
        <li class="float-l" >
          <a href="{% url 'principal:index' %}" title="Início">Início</a>
        </li >
        <li class="float-l dropdown">
          <a href="#" title="Lista">Informações</a>
          <div class="dropdown-content">
            <a href="{% url 'principal:resultados' %}">Resultados</a>
            <a href="{% url 'principal:aprendaeconomizar' %}">Aprenda a economizar</a>
            <a href="{% url 'principal:referencias' %}">Referências</a>
          </div>
        </li >
        <li class="float-l">
            <a href="{% url 'principal:calculadora' %}" title="Calculadora">Simular Consumo</a>
        </li >
        <li class="float-l">
          <a href="{% url 'principal:sobre' %}" title="Sobre">Sobre</a>
        </li>
      </ul>
    </nav>
  </div>
</header>