{% load static %}      
        
<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'principal:index' %}" class="navbar-brand p-0">
            <img src="{% static 'principal/img/logo-principal.png' %}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'principal:index' %}" class="nav-item nav-link active">Início</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Informações</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'principal:resultados' %}" class="dropdown-item">Resultados</a>
                        <a href="{% url 'principal:aprendaeconomizar' %}" class="dropdown-item">Aprenda a Economizar</a>
                        <a href="{% url 'principal:referencias' %}" class="dropdown-item">Referências</a>
                    </div>
                </div>
                <a href="{% url 'principal:sobre' %}" class="nav-item nav-link">Sobre</a>
            </div>
            <butaton type="button" class="btn text-secondary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
            <a href="{% url 'principal:calculadora' %}" class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-3">Simular Consumo</a>

            <!--
            <a href="#" class="btn rounded-pill py-2 px-2 ms-4 " id="alto-contraste" title="Ativar Alto-contraste"><i class="alto-contraste fa fa-adjust"></i><strong>Alto-contraste</strong></a>
            <a href="#" class="btn rounded-pill py-2 px-2 ms-4 " id="aumentar-fonte" title="Aumentar Fonte"><i class="alto-contraste"></i><strong>A+</strong></a>
            <a href="#" class="btn rounded-pill py-2 px-2 ms-4 " id="diminuir-fonte" title="Diminuir Fonte"><i class="alto-contraste"></i><strong>A-</strong></a>
            -->
            
            <button onclick="
                    const html = document.querySelector('html')
                    const button = document.querySelector('button[name=autoContraste]')

                    const getStyle = (element, style) => {
                        window
                            .getComputedStyle(element)
                            .getPropertyValue(style)
                    }

                    const initialColors = {

                        /*
                        Pegar essas propriedades do CSS através de comandos no console do navegador.

                        Um dos comandos é o window.getComputedStyle(document.body) que pega os estilos
                        computados de dentro do body do documento da pagina em questão.

                        Dentro desse comando ainda é possível pegar um valor específico através do método
                        getPropertyValue, exemplo: window.getComputedStyle(document.body).getPropertyValue('align-content')
                        o exemplo é usado para pegar a propriedade de align-content.
                        */

                        bg: getStyle(html, 'background-color'),

                    }

                    const darkMode = {

                        bg: '#333333',

                    }

                    const changeColors = (colors) => {
                        Object.keys(colors).map(key =>
                            html.style.setProperty('background-color', '#333333')
                        )
                    }

                    button.addEventListener('change', ({target}) => {
                        target.checked ? changeColors(darkMode) : changeColors(initialColors)
                    })

            " 
            class="btn rounded-pill py-2 px-2 ms-4 " id="alto-contraste" title="Ativar Alto-contraste" name="autoContraste">
                <i class="alto-contraste fa fa-adjust">
                </i>
                <strong>
                    Alto-contraste
                </strong>
            </button>
            
            <button onclick="
                    let ids = ['#text']; //Estes IDs serão selecionados para aumentar ou diminuir o tamanho da fonte do texto, aonde estiver este ID no html a fonte aumenta ou diminuí. No caso ela foi colocada dentro da tag body na base.html.

                    ids.forEach(id => {
                        //Pega o elemento.
                        let el = document.querySelector(id);

                        //Pega o tamanho da fonte.
                        let fontSize = window.getComputedStyle(el, null).getPropertyValue('font-size');

                        //Converte para o tipo float de dado.
                        fontSize = parseFloat(fontSize);

                        //Aumenta o tamanho da fonte.
                        el.style.fontSize = (fontSize + 5) + 'px';
                    })

            " 
            class="btn rounded-pill py-2 px-2 ms-4 " id="aumentar-fonte" title="Aumentar Fonte"><i class="alto-contraste"></i>
                <strong>
                    A+
                </strong>
            </button>
            
            <button onclick="
                    let ids = ['#text']; //Nesse caso é o mesmo no de cima, só que aqui o editor pode acusar um erro de sintaxe, isso é normal, pode deixar assim, não irá interfirir em nada no código.

                    ids.forEach(id => {
                        //Pega o elemento.
                        let el = document.querySelector(id);

                        //Pega o tamanho da fonte.
                        let fontSize = window.getComputedStyle(el, null).getPropertyValue('font-size');

                        //Converte para o tipo float de dado.
                        fontSize = parseFloat(fontSize);

                        //Aumenta o tamanho da fonte.
                        el.style.fontSize = (fontSize - 5) + 'px';
                    })

            " 
            class="btn rounded-pill py-2 px-2 ms-4 " id="diminuir-fonte" title="Diminuir Fonte">
                <i class="alto-contraste">
                </i>
                <strong>
                    A-
                </strong>
            </button>

        </div>
    </nav>
</div>
<!-- Navbar & Hero End -->