
.bloco-titulo-main{
	display:block;
	width: 100%;
	height:200px;
	text-align: center;
	margin: 0px auto;
	border-radius: 0px;
}

.bloco-titulo-main-2 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50px;
  display:block;
	width: 100%;
	height:100px;
	text-align: center;
	margin: 0px auto;
	border-radius: 0px;
}

.bloco-titulo-main-2 h1 {
  font-weight: 800;
  color: white;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.titulo-bloco-conteudo {
  display: block;
  font-size: 2.1em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 400;
  padding: 5px;
  border-bottom: 2px solid #1b2d51;
}

.bloco-conteudo-principal {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  margin: 20px 10px;
  background-color: #ffffff00;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #1b2d51;
  box-shadow: 2px 2px 1px #1b2d51;
}

.texto-D {
font-size: 1.5em;
color: black;
margin: 0;
line-height: 1.4;
font-weight: 500;
text-indent: 20px;
text-align: center;
}

/*---------------------*/


.bloco-itens-main {
    align-self: center;
    display: grid;
    grid-template-areas: 'list' 'footer';
    grid-template-columns: 100%;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.bloco-itens-list {
  background-color: transparent;
  grid-area: list;
  box-sizing: border-box;
}

.itens-inputs {
  position: relative;
  background-color: rgba(27, 45, 81, 1);
  display: grid;
  grid-template-columns: max-content min-content min-content max-content min-content min-content;
  grid-template-rows: auto auto auto;
  grid-gap: 1%;
  justify-content: space-evenly;
  margin-top: 10px;
  border-radius: 10px;
  overflow-y: hidden;
  width: auto;
  padding: 4px;
}

.item-input  {
  margin: 0px;
}
.item-input p {
  color: white;
  margin: 1px;
  text-transform: uppercase;
  font-size: 1em;
}

.itens-atributes {
	background-color: white;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px;
  color: black;
  margin-top: 2px;
}

.label-inputs {
  color: white;
  word-break: keep-all;
  white-space: nowrap;
}

.action-delete {
  display: block;
  visibility: hidden;
	padding: 0px 8px 8px 8px;
  cursor: pointer;
  margin: 0px;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-delete p {
  color: rgb(255, 0, 0);
  font-weight: 700;
  font-size: 1.2em;
}

.bloco-itens-actions {
  background-color: transparent;
  display: grid;
  grid-area: footer;
  grid-gap: 1%;
  width: calc(100% - 0px);
  justify-content: space-evenly;
}

.action-add {
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  vertical-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.action-text{
  text-align: center;
  color: white;
  margin: 0;
  font-family: arial;
  font-size: 20px;
  font-weight: 700;
}

.action-calcular {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 10px;
    margin: 10px;
}

.bloco-tabela-potencias {
  display: none;
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  margin: 20px 10px;
  background-color: #ffffff00;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #1b2d51;
  box-shadow: 2px 2px 1px #1b2d51;
}

table#tablepot {
  border: 2px solid #000000;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
}
  
table#tablepot td {
  border: 1px solid #000000;
  padding: 8px;
  font-size: 0.7em;
}


.input-potencia input{
  max-width: 80px;
}
.input-quantidade input{
  max-width: 50px;
}
.input-tempo input{
  max-width: 50px;
}
.input-dias input {
  max-width: 50px;
}

.seletor-aparelhos {
  text-transform: capitalize;
  font-size: 0.8em;
  max-width: 100%;
}

#button-conferir-2 {
  width: 100%;
  margin: 5px auto 5px;
  display: block;
  text-decoration: none;
  background-color: #1b2d51;
  font-size: 2em;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  color: white;
  border-top: 2px solid #fdce58;
  border-bottom: 2px solid #fdce58;
}

#button-conferir:hover {
  background-color: #0e0b1b;
}

/*--------*/
#piechart {
  display: block;
  margin: 5px auto;
  width: 99%;
  padding: 2px;
  overflow: scroll;
  background-color: rgba(27, 45, 81, 0.0);
  border: 2px solid rgba(27, 45, 81, 1);
  border-radius: 5px;
}
#tablechart {
  display: block;
  margin: 5px auto;
  width: 99%;
  padding: 2px;
  background-color: rgba(27, 45, 81, 0.0);
  border: 2px solid rgba(27, 45, 81, 1);
  border-radius: 5px;
}
.bloco-valores-totais {
  display: block;
  margin: 10px auto;
  text-align: center;
  background-color: #1b2d51;
  padding: 10px;
}
.bloco-valores-totais {
  color: white;
  font-size: 1em;
  font-weight: 700;
}

.valores-totais {
  margin: 0 auto;
  background-color: white;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px;
  color: black;
}

@media screen and (max-width: 1000px) {
  .itens-inputs{
    justify-content: normal;
  }
}

@media screen and (max-width: 767px) {
  .itens-inputs {
    grid-template-columns: min-content;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 1%;
    overflow-x: scroll;
    justify-content: space-evenly;
  }
  .item-input p {
    font-size: 0.7em;
  }

  .action-delete p {
    font-size: 1.2em;
  }
  .texto-D {
    font-size: 1em;
  }

  .seletor-aparelhos {
    max-width: 75%;
    font-size: 0.75em;
  }
}

@media screen and (max-width: 367px) {
  .itens-inputs{
    justify-content: normal;
  }
}