body.dark {
	background: #292C35;
}

div.dark {
    background-color: rgba(0, 0, 0, 0.336);

}

h2.dark {
	color: white;
}

:root.dark {
	--primary: #00000004;
}

.checkboxDarkMode {
	opacity: 0;
	position: absolute;
}

.labelDarkMode {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.labelDarkMode .ballDarkMode {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkboxDarkMode:checked + .labelDarkMode .ballDarkMode {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

