
.bloco-charts {
    margin-top: 10px;
    padding: 3px;
    box-shadow: 4px 4px 10px black;
}
.legenda-referencia {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .texto-D {
        font-size: 1em;
    }
    .bloco-titulo-main h1 {
        font-size: 1.2em;
    }

    .titulo-bloco-conteudo {
        font-size: 1.2em;
    }
}