.bloco-img-principal {
  position: relative;
  display:block;
  margin-top: 90px;
  width: 100%;
  height: auto;
  background-color: #1b2d51;
}
.bloco-titulo-main{ 
  position: relative;
  display:block;
  width: 100%;
height: auto;
  padding: 10px;
}

.bloco-titulo-main h1 {
  font-size: 2em;
  font-weight: 800;
  color: white;
  padding: 0;
  width: 100%;
  text-align: center;
}

.lista-criadores {
  padding: 0;
  margin: 10px;
}
.lista-criadores li{
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .bloco-titulo-main h1 {
    font-size: 1.2em;
  }
}