html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 255, 255);
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/logo-lampada.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-attachment: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

* {
    font-family: Arial, monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
}

.bloco-content-principal {
    min-height: 800px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 200px;
}

.bloco-img-principal {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/electric-panel.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
}

.footer-principal {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #fdce58;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
}

